

#search_results
  %h1.result_count= "#{@results.size} results for #{params[:serach]}"
  %ul
    - @results.each do |result|
      %li
        - if result.kind_of? Flock
          = link_to "#{result.name} flock", result
        - elsif result.kind_of? Flocker
          = link_to "#{result.twitter_username} flocker", result
  
%h2 Not what you were looking for?

- form_tag :dashboard_search, :method => :get do
  = text_field_tag 'search'
  = submit_tag 'Search'