%h1 Listing flockers

%table
  %tr
    %th Twitter username

  - for flocker in @flockers
    %tr
      %td= h flocker.twitter_username
      %td= link_to 'Show', flocker
      %td= link_to 'Edit', edit_flocker_path(flocker)
      %td= link_to 'Destroy', flocker, :confirm => 'Are you sure?', :method => :delete

%p= link_to 'New flocker', new_flocker_path
