- content_for(:title, "Viewing Flocker #{@flocker.twitter_username}")

%p
  This is
  = "#{@flocker.twitter_username}'s"
  FlockUp profile. Check out what we know about them.

.info{:class => 'span-11 column'}
  %h3 Profile
  %dl
    %dt Twitter username
    %dd= link_to @flocker.twitter_username, "http://twitter.com/#{@flocker.twitter_username}"
    
    %dt Flocker status
    %dd= @flocker.status || "Unknown"
    
    %dt Last updated
    %dd= @flocker.updated_at

.flocks{:class => 'span-11 column last'}
  %h3 Flocks
  %ul
    - @flocker.flocks.each do |flock|
      %li= link_to flock.name, flock
    - if @flocker.flocks.empty?
      %li Awww, no flocks yet.