- content_for(:title, 'Viewing Flocks')

%p
  Simply put, a flock is a group on twitter. Who's in flock? That's for you to decide.
  You could always
  = link_to('start your own', new_flock_path) + '.'

%h1 Flocks

%table
  - if @flocks.total_pages > 1
    %thead
      %tr
        %th{:colspan => Flock.per_row}= will_paginate(@flocks)
  %tbody
    - @flocks.in_groups_of(Flock.per_row) do |flocks_in_row|
      %tr
        - flocks_in_row.each do |flock|
          %td{:width => "#{100/Flock.per_row}%"}= link_to(flock.name, flock) if flock
  - if @flocks.total_pages > 1
    %tfoot
      %th{:colspan => Flock.per_row}= will_paginate(@flocks)

%a{:href => new_flock_path, :class => 'button'}
  = image_tag 'create_a_new_flock.png', :alt => 'Create A New Flock'
