%div{:class => 'span-22'}
  %h1= @flock.name
  %p
    Welcome to the
    %span.flock= @flock.name
    flock.
    - unless @flock.description.blank?
      Here's what we know about it:
      %i= %Q("#{h(@flock.description)}")

%div{:class => 'span-22'}
  - if @flock.flockers.size > 2 # there's always going to be 1, because we 'build' a flocker
    %p
      And here's everyone that's flocked to it...
    %table.flockers
      - @flock.flockers.not_invalid.in_groups_of(7).each do |flockers_in_row|
        %tr
          - flockers_in_row.each do |flocker|
            - unless flocker.nil? || flocker.new_record?
              %td{:class => flocker.status}= link_to(flocker.twitter_username, flocker_path(flocker))
              
    %p Like what you see? Maybe you should follow some of these flockers. To do so, click through each flocker's twitter page, and follow them by hand. Confused? <a href="http://help.twitter.com/index.php?pg=kb.page&id=76">Read more about what followers and following is all about</a>.
    
    %p How about adding someone else?
    - form_for @flocker, :url => flock_flockers_path(@flock) do |form|
      = form.text_field :twitter_username
      = form.submit 'Add flocker'
  
  - else
    %p My, this flock is pretty empty. How about adding someone?
    - form_for @flocker, :url => flock_flockers_path(@flock) do |form|
      = form.text_field :twitter_username
      = form.submit 'Add flocker'