- content_for(:title, 'Search Results')

- if @results
  #search_results
    %h1.result_count= "#{@results.size} results for #{@search_terms}"
    %ul
      - @results.each do |result|
        %li
          - if result.kind_of? Flock
            = link_to "#{result.name} flock", result
          - elsif result.kind_of? Flocker
            = link_to "#{result.twitter_username} flocker", result
  
  %h2 Not what you were looking for?

= render :partial => 'form'